.gtk-window{
background-color: #303030ff;

    box-shadow: 0px 0px 34px -18px rgba(0,0,0,0.75);

    padding: 0px;
    height: 100vh;
    border-radius: 1em;
}

body{
    font-family: Cantarell;
    color: white;
    font-weight: 600;
    -webkit-user-select: none;
    margin: 0;
    overflow: hidden;

}
.gtkheader{
    border-radius: 1em 1em  0 0 ;
    background-color: #303030ff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    -webkit-app-region: drag;
    padding: 10px;

}
.tittle{
    font-size: 11pt;
    padding: 7px;
    -webkit-app-region: drag;
    font-weight: 400;
}
.close_icon{

    height: 14pt;

     filter: invert(91%) sepia(100%) saturate(25%) hue-rotate(74deg) brightness(106%) contrast(107%);

}
.close{
    padding: 5px;
    -webkit-app-region: no-drag;
    padding-bottom: 1px !important;
    border-radius: 2em;
    background-color: #393939ff;
}
.close:hover{
    background-color: #454545ff;
}
.button {
    margin-top: 1.5em;
    background-color: #3584e4ff;
    border: none;
    color: white;
    padding: 8px 25px;
    border-radius: 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 800;
    transition: background-color 0.1s ease-out 100ms
}
.button:hover{
    background-color: #4991e8;
}
.tab{
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    padding: 5pt;
    padding-left: 10pt !important;
    padding-right: 10pt !important;
    border-radius: 0.5em;
    font-weight: 400;
}
.tab, .active{
    background-color: rgba(255,255,255,10%);
}
.tab_icon{
    height: 10pt;

    padding-right: 6pt;
    filter: invert(91%) sepia(100%) saturate(25%) hue-rotate(74deg) brightness(106%) contrast(107%);

}
.content{
    padding: 1em;
}
.gtkbutton{
    padding: 0.5em 1em;
    border-radius: 0.6em;
    background-color: rgba(255,255,255,0.1);
    display: flex;
    gap: 0.7em;
    transition: all 0.1s ease-out

}
.gtkbutton:hover{
    background-color: rgba(255,255,255,0.2);

}
.button_icon{
    filter: invert(91%) sepia(100%) saturate(25%) hue-rotate(74deg) brightness(106%) contrast(107%);
}
.disactive_icon {
    filter: brightness(0) saturate(100%) invert(68%) sepia(0%) saturate(14%) hue-rotate(24deg) brightness(97%) contrast(91%);
}
.preferences-group{
    gap: 2em;
    display: flex;
    flex-direction: column;
}
.preferences_caption{
    font-size: 15pt;
    font-weight: 500;
}
.preferences_subcaption{
    font-size: 13pt;
    font-weight: 300;
    color: #a7a7a7;
}
.preferences_header{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.preferences_sufix{
    font-size: 13pt;
    font-weight: 500;
    padding: 7pt;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8pt;
    transition: all 0.1s ease-out;

    border-radius: 0.4em;
}
.preferences_sufix:hover{
    background-color: rgba(255,255,255, 0.1);
}
.not-show{
    display: none !important;
}
