.gtk-window{
background-color: #242424;

    box-shadow: 0px 0px 34px -18px rgba(0,0,0,0.75);

    padding: 0px;
    height: 100vh;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.15);

}

body{
    font-family: Cantarell;
    color: white;
    font-weight: 600;
    -webkit-user-select: none;
    margin: 0;
    overflow: hidden;

}
.gtkheader{
    border-radius: 1em 1em  0 0 ;
    /*background-color: #303030ff;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    -webkit-app-region: drag;
    padding: 10px;
    /*box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);*/


}
.tittle{
    font-size: 12pt;
    padding: 7px;
    -webkit-app-region: drag;
    font-weight: 400;
}
.close_icon{

    height: 12pt;

     filter: invert(91%) sepia(100%) saturate(25%) hue-rotate(74deg) brightness(106%) contrast(107%);

}
.close{
    padding: 5px;
    -webkit-app-region: no-drag;
    padding-bottom: 0px !important;
    border-radius: 2em;
    background-color: #393939ff;
}
.close:hover{
    background-color: #454545ff;
}
.button {
    margin-top: 1.5em;
    background-color: #3584e4ff;
    border: none;
    color: white;
    padding: 8px 25px;
    border-radius: 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 500;
    transition: background-color 0.1s ease-out 100ms;
    font-family: "Cantarell";
}
.button:hover{
    background-color: #4991e8;
}
.tab{
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    padding: 5pt;
    padding-left: 10pt !important;
    padding-right: 10pt !important;
    border-radius: 0.5em;
    font-weight: 400;
}
.tab, .active{
    background-color: rgba(255,255,255,10%);
}
.tab_icon{
    height: 10pt;

    padding-right: 6pt;
    filter: invert(91%) sepia(100%) saturate(25%) hue-rotate(74deg) brightness(106%) contrast(107%);

}
.content{
    padding: 1em;
    padding-top: 0;
}
.gtkbutton{
    padding: 0.5em 0.5em;
    border-radius: 0.6em;
    background-color: #353535ff;
    display: flex;
    gap: 0.7em;
    align-items: center;
    transition: all 0.1s ease-out

}
.gtkbutton:hover{
    background-color:#505050ff;

}
.button_icon{
    filter: invert(91%) sepia(100%) saturate(25%) hue-rotate(74deg) brightness(106%) contrast(107%);
}
.disactive_icon {
    filter: brightness(0) saturate(100%) invert(68%) sepia(0%) saturate(14%) hue-rotate(24deg) brightness(97%) contrast(91%);
}
.preferences-group{
    gap: 2em;
    display: flex;
    flex-direction: column;
}
.preferences_caption{
    font-size: 15pt;
    font-weight: 500;
}
.preferences_subcaption{
    font-size: 13pt;
    font-weight: 300;
    color: #a7a7a7;
}
.preferences_header{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.preferences_sufix{
    font-size: 13pt;
    font-weight: 500;
    padding: 7pt;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8pt;
    transition: all 0.1s ease-out;

    border-radius: 0.4em;
}
.preferences_sufix:hover{
    background-color: rgba(255,255,255, 0.1);
}
.not-show{
    display: none !important;
}
.preferences-group-element{
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 1em;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.preferences-group-element:last-child{
    box-shadow: none !important;
}
.preferences-group-body{
    border-radius: 1em;
    overflow-y: scroll;
    /* border: 100px aliceblue; */
    /* padding: 1em; */
    border-radius: 1em;
    background-color: rgba(36, 36, 36, 1);
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1px;
    /* padding: 1em; */
    background: linear-gradient(rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), linear-gradient(rgba(36, 36, 36, 1), rgba(36, 36, 36, 1));
    padding-bottom: 0;
    transition: all 0.1s ease-out;

}/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
.scrollbar{
    overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar {
    background-color:rgba(0,0,0,0);
    width:4px
}
.scrollbar::-moz-scrollbar {
    background-color:rgba(0,0,0,0);
    width:4px
}


/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
    background-color:rgba(0,0,0,0);
}
.scrollbar::-webkit-scrollbar-track:hover {
    background-color:rgba(0,0,0,0);
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
    background-color:rgba(186, 186, 192, 0.4);
    border-radius:8px;
    border:0px solid #fff
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:rgba(186, 186, 192, 0.6);
    border:0px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {opacity: 0;}
.no-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.range_input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;

    height: 6px;
    background:  #6d6d6dff;
}
.scrollbar::-moz-scrollbar-track {
    background-color:rgba(0,0,0,0);
}
.scrollbar::-moz-scrollbar-track:hover {
    background-color:rgba(0,0,0,0);
}

/* scrollbar itself */
.scrollbar::-moz-scrollbar-thumb {
    background-color:rgba(186, 186, 192, 0.4);
    border-radius:8px;
    border:0px solid #fff
}
.scrollbar::-moz-scrollbar-thumb:hover {
    background-color:rgba(186, 186, 192, 0.6);
    border:0px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-moz-scrollbar-button {opacity: 0;}
.no-scrollbar::-moz-scrollbar {
    width: 4px;
}

.range_input::-moz-slider-thumb {
    -moz-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)), linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1));
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);

}

.range_input::-moz-slider-thumb {
    -moz-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)), linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1));
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);

}
.min-size{
    height: min-content;
}
.highlight_icon{
    filter: brightness(0) saturate(100%) invert(78%) sepia(5%) saturate(1%) hue-rotate(356deg) brightness(81%) contrast(83%);
}
.highlight_icon:hover{
    filter: brightness(0) saturate(100%) invert(100%) sepia(65%) saturate(0%) hue-rotate(170deg) brightness(102%) contrast(101%);
}

.collapsible{
    border-radius: 1em !important;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.15) !important;
    border: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 1px;


}
.collapsible-header{
    border-radius: inherit;
    border: 0 !important;
    background: #353535ff !important;
    transition: all 0.3s;


}
.collapsible-header:hover{
    background: #3b3b3bff !important;
}
.collapsible-el:first-child{
    border-radius: 1em 1em 0 0 !important;

}
.collapsible-el:last-child{
    border-radius: 0 0 1em 1em !important;
}
.collapsible-el:only-child{
    border-radius: 1em !important;
}

.collapsible-body{
    display: flex;
    align-content: center;
    align-items: flex-start;font-weight: 300;
    padding: 1rem !important;
    border-radius: 0em;
    border: 0 !important;
    background: #2b2b2bff !important;
    border-radius: 0 0 1em 1em;
    transition: all 0.3s;
}
.collapsible-body:hover{
    background-color: #323232ff !important;
}

.badge{
    font-family: 'Cantarell' !important;
    font-weight: 500 !important;
    color: white !important;
    border-radius: 1em !important;
}
.collapsible-text{
    margin: 0;
}
.collapsible-time{
    margin: 0;
    display: flex;
    font-weight: 700;
    font-size: 80%;
    color: #888;
}
label{
    left: 0 !important;
}
.input-row{
    text-overflow: ellipsis;
    margin: 0 !important;
    border: 0 !important;
    color: white !important;
    font-family: "Cantarell";
    height: 1.2rem !important;

}
.desc_row{
    text-overflow: ellipsis;
    margin: 0 !important;
    border: 0 !important;
    color: white !important;
    font-family: "Cantarell";
    box-shadow: none !important;
    max-height: 40vh;
    overflow-y: scroll !important;


}
.input-field{
    margin: 0 !important;
}
.input-label{
    color: rgba(255, 255, 255, 0.6) !important;
    font-family: 'Cantarell' !important;
    font-style: normal !important;
    font-size: 80% !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    background: transparent !important;

}
.input-field-form{
    padding-top: 0.5em !important;
    padding: 1em;
    border-radius: 1em;
    background: #353535ff !important;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.15) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s all;

}
.input-field-form:hover{
    background: #3b3b3bff !important;
}
.input-field-form:has(.input_higlight:focus){
   /* background: #353535ff !important*/
    background: #3584e4 !important;
}
.input-row:focus{
    border-bottom: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.input-row::placeholder{
    font-weight: 300;
}
#description::placeholder{
    font-weight: 300;
}
.listbox{
    text-align: left;
    background: #353535ff;
    padding: 0.6em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    border-radius: 0.7em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.1s;
    
}
.listcontent{
    height: max-content !important; padding: 0.5em !important;
    border-radius: 0.7em !important;
    background-color: #343434ff !important;
}
.listcontent > li{
    border-radius: 0.7em !important;
}
.listcontent > li > a{
    color: white !important;
    font-size: 1em !important;

}
.listcontent > li:hover{
    background-color: #4c4c4cff !important;
}
.listbox:hover{
    background: rgb(255 255 255 / 15%);

}
.colrow{
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}
.colrow.s4{
    width: 33.3333333333%;
    margin-left: auto;
}
.colrow.s8{
    width: 66.6666666667%;
    margin-left: auto;
}
.colrow.s6{
    width: 50%;
    margin-left: auto;
}
.colrow.s2{
    width: 16.666666666666667%;
    margin-left: auto;
}
.colrow .s5{
    width: 41.666666666666667%;
    margin-left: auto;
}
.switch {
    position: relative !important;
    display: inline-block !important;
    width: 48px !important;
    height: 26px !important;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute !important;
    content: "";
    margin-top: none !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    height: 20px !important;
    width: 20px !important;
    left: 2px !important;
    bottom: 1px !important;
    top: 0px !important;
    background-color: white ;
    border: 0 !important;
    border-radius: 1em !important;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3584e4;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #3584e4;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(23px) !important;
    -ms-transform: translateX(23px) !important;
    transform: translateX(23px) !important;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .bottompanel{
    display: flex;
    /* align-content: center; */
    align-items: center;

    width: -webkit-fill-available;
    margin: 0;
    left: -5px;
    padding: 0;
    z-index: 10;
  }
  .active :first-child > .collapsible-header{
   border-radius: 1em 1em 0 0 !important;
  }

  .active:last-child  > .collapsible-body{
    border-radius: 0 0 1em 1em  !important;
   }
   .active:only-child  > .collapsible-body{
    border-radius: 0 0 1em 1em !important;
   }
   .active  > .collapsible-body{
    border-radius: 0 !important;
   }
   .time_input{
    width: 75%;
    border-radius: 0.5em 0 0em 0.5em;
   }
   .time_button{
    padding: 0.5em !important;
    padding-left: 0.779em !important;
    padding-right: 0.779em !important;
   }
.time{
    display: flex;
    gap: 1px;
    border-radius: 0.5em !important;
    background-color: #5e5e5eff;
}
.plus{
    border-radius: 0 0.5em  0.5em 0 !important;
}
.minus{
    border-radius: 0 !important;
}
.avatar{
    width: 50px;
    height: 50px;
    padding: 15px;
    font-size: 1em;
    color: rgba(255,255,255,0.75);
    background: linear-gradient(to bottom, rgba(159, 145, 232, 1) 0%,rgba(122, 90, 202, 1) 100%);
    text-align: center;
    border-radius: 10em;
    background-size: cover !important;
}
::selection{
        background: #3584e4 !important;
}
iframe{
    border: 0;
}