@media only screen and (min-width: 601px){ #header_image{
    width: 90vw !important;
}

}
@media only screen and (min-width: 900px){ #header_image{
    width: 85vw !important;
}}
@media only screen and (min-width: 1100px){ #header_image{
    width: 60vw !important;
}
#first_flour_block{
    display: flex !important;
}
#first_flour{
    width: 100%;
}
#first_flour_small{
    display: none;
}
}
@media only screen and (min-width: 1300px){ .video-container{
    width:  50vw !important;
}}
@media only screen and (min-width: 1400px){ .video-container{
    width:  50vw !important;
}}
#first_flour{
    display: flex;
    gap: 2.5vw;
    flex-direction: row;
}
#first_flour_block{
   
  display: none;
  flex-direction: column;
  gap: 0.5em;
}
#first_flour_text{
    font-size: 5em !important;
  
}
#first_flour_subtext{
    font-size: 1.49em;
    /* text-align: justify; */
    font-weight: 400;

}
.welcome{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.welcome_label{
    margin-top: 0.5em;
    font-weight: 700;
    font-size: 2em;
}
.gtk-window{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: center;
    color: #6b6b6b;
    font-weight: 800;
    padding: 1em;

}
#connect{
    position: absolute;
    top: 7%;
opacity: -100%;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
#register_text{
    text-align: center;
    font-size: 2em;
    font-weight: 500;
}
.block {
    width: 100px;
    padding: 25px;
    background-color: #393939ff;
    transition: background-color 0.1s ease-out 100ms;
    border-radius: 1em;

}
.block:hover{
    background-color: #656565ff;
}
#register_button{
    margin-top: 1.5em;
}
.register_label{
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
}
.add_icon{
    padding: 7pt;

    transition: all 0.1s ease;
    -webkit-app-region: no-drag;
    filter: invert(91%) sepia(100%) saturate(25%) hue-rotate(74deg) brightness(106%) contrast(107%);

}
.add_icon:hover{
    background-color: #c1c1c14d;
    border-radius: 0.45em;
}
.button_row{
    display: flex;
    gap: 0.5em;
    justify-content: space-between;

}
.button_row .gtkbutton{
    width: 100%;
    justify-content: center;
}
.sources{
    display: flex;
}
.audio-source-tittle{
    display: flex;
    gap: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    max-width: 80%;

}
.range_input{
    width: 15em !important;
}

#create_button{
    padding: 1.5em;
    width: 100%;
}
.time{
    width: 35%;
}
#no_comments{
    align-items: center;
    justify-content: center;
    height: 100%;
}
.comments_icon{
    width: 20%;
}
#comments_section{
    padding-left: 2em;
    height: 100%;

}
.chat_header{
    font-size: 2em;
    margin: 0;
    font-weight: 800;

}
.comments_section{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;

}
.type_panel{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
}
#smile {
    width: 45px;
    margin-right: 7px;
    padding: 11px;
    border-radius: 10em;
    transition: all 0.3s;
    height: 45px;
}
#smile:hover{
    background-color: rgb(0 0 0 / 10%);
}
#post{
    width: 51px;
    margin-left: 7px;
    padding: 13px;
    border-radius: 10em;
    transition: all 0.3s;
    background-color: #3584e4;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 16px;
    height: 45px;
}
#post:hover{
    background-color: #62a0ea;

}
.messages{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    gap: 0.5em;
    height: 78vh;
    overflow-y: scroll;
    }
.message{
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    padding: 0;
}
.message:first-child{
    margin-top:auto;
}
.message-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.3em;
}
.message-name{
    font-weight: 700;

}
.message-time{
    font-weight: 300;
}
.message-content{
    width: 100%;
}
.message-body{
    font-weight: 300;
    -webkit-user-select: text;
    text-align: justify;
}
.message_form{
    padding: 0 !important;
}
#message{
    padding: 0;
    min-height: 1rem;
    height: 1.2rem;
    font-size: 1em;
    padding-left: 1em;
    max-height: 8rem;
}
.chat-owner{
    color: #f5c211;
  
}
.chat-moderator{
    color: #1c71d8;

}
.chat-sponsor{
    color: #c01c28
}
.verified{
    display: flex;
    align-items: center;
    gap: 3px;
}
.context_menu:not(ul){
    display: none;
    position: absolute;
    opacity: 0;

}
.context_menu ul{

        background: #383838;
        margin: 0;
        padding: 0.3em !important;
        padding-top: 0.35em !important;
        padding-bottom: 0.35em !important;
        border-radius: 0.75em;
    
}

.context_menu ul > li:first-child:hover{
    background-color: rgba(255, 255, 255, 0);

    padding: 0.5em;
}
.context_menu ul > li:first-child > :first-child{
    font-weight: 300;
    font-size: 0.8em;
    padding-bottom: 2px;
}
.context_menu ul > li:hover{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5em;
}
.context_menu ul > li{
    padding: 0.5em;
    border-radius: 0.5em;
    transition: all 0.3s;
}
.context_menu ul > li:not(:first-child){
    display: flex;
    align-items: center;
    gap: 5px;
}
.open_window{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    opacity: 0%;
}
#logo img{
    height: 2em;
}
#logo{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.75em;
}
