.bar {
    height: 30px;
    width: 180px;
    background: lightgray;
    position: relative;
}

.indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: green;
}